body{
  margin:0px;
  padding:0px;
  font-family:"Helvetica Neue", Helvetica, Arial;
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}


/* headers */
header {
    background: #1C1E1F;
    color: #ffffff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: white 3px solid;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header li{
    display:inline;
    padding: 0 20px 0 20px;
}

header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}




#sidebar{
  background:#151718;
  width:200px;
  height:100%;
  display:block;
  position:absolute;
  left:-200px;
  top:0px;
  transition:left 0.3s linear;
}

#sidebar.visible{
  left:0px;
  transition:left 0.3s linear;
}

ul{
  margin:0px;
  padding:0px;
}

ul li{
  list-style:none;
    font-family: fantasy;
}

ul li a{
  background:#1C1E1F;
  color:#ccc;
  border-bottom:1px solid #111;
  display:block;
  width:180px;
  padding:10px;
  text-decoration: none;
}

#sidebar-btn{
  display:inline-block;
  vertical-align:middle;
  width:25px;
  height:15px;
  cursor:pointer;
  margin:20px;
  position:absolute;
  top:0px;
  right:-60px;
}

#sidebar-btn span{
  height:3px;
  background:white;
  margin-bottom:5.5px;
  display:block;
}

#sidebar-btn span:nth-child(2){
  width:85%;
    
}

#sidebar-btn span:nth-child(3){
  width:65%;
}



@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
